@font-face {
  font-family: DavidLibre;
  font-display: swap;
  src: url("../fonts/DavidLibre-Medium.woff2") format("woff2"), url("../fonts/DavidLibre-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: DavidLibre;
  font-display: swap;
  src: url("../fonts/DavidLibre-Bold.woff2") format("woff2"), url("../fonts/DavidLibre-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Inter";
  padding: 0;
  margin: 0;
}

.scrollNone {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  max-width: 1510px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

h1,
h2 {
  font-family: "David Libre";
  font-weight: 700;
  color: #101A24;
}

h1 {
  line-height: 103%;
  font-size: 70px;
}

h2 {
  line-height: 103%;
  font-size: 60px;
}

.btn-orange,
.btn-black {
  display: inline-block;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: "David Libre";
  font-weight: 500;
  line-height: 145%;
  font-size: 20px;
  border-radius: 15px 5px;
  padding-top: 13px;
  padding-bottom: 16px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  white-space: nowrap;
}

.btn-orange {
  background: #EA6D27;
  padding-left: 32px;
  padding-right: 32px;
}

.btn-black {
  background: #101A24;
  padding-left: 36px;
  padding-right: 36px;
}

.header__burger {
  display: none;
}

.burger__frying-pan {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
      -ms-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  width: 600px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 500;
}

header.active {
  background-color: #fff;
}

header.active .header {
  padding-top: 10px;
}

.header__logo img {
  max-width: 200px;
  max-height: 55px;
  width: 190px;
  margin-bottom: 15px;
}

.header {
  position: relative;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding-bottom: 10px;
  padding-top: 45px;
  z-index: 901;
}

.header ul {
  margin-left: 10px;
  margin-right: 10px;
  color: #101A24;
}

.header li:not(:last-child) {
  margin-right: 45px;
}

.header li {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header li a {
  line-height: 180%;
  font-size: 16px;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__burger-body {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.header__burger-body li {
  padding: 20px 0;
  letter-spacing: 7px;
}

.header__burger-body.active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.header__btn {
  display: inline-block;
}

footer {
  height: 200vh;
}

.initial {
  position: relative;
  padding-top: 320px;
  padding-bottom: 160px;
  width: 100%;
}

.curcle {
  width: 960px;
  height: 960px;
  background-color: transparent;
  border: 1px solid rgba(16, 26, 36, 0.2);
  border-radius: 50%;
  position: absolute;
  top: -100%;
  left: -100%;
}

.initial__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-height: 710px;
}

.initial__img-wr {
  position: relative;
}

.less-img {
  position: absolute;
  left: 0%;
  bottom: 0;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  max-height: 365px;
  max-width: 365px;
  width: 365px;
  height: 365px;
}

.initial__wr {
  position: relative;
}

.initial__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 10px;
}

.initial__text h1 {
  margin-bottom: 70px;
  position: relative;
}

.initial__text p {
  color: #5C6574;
  line-height: 180%;
  font-size: 16px;
  padding-bottom: 45px;
}

.initial__text-bottom {
  padding-right: 36%;
}

.initial__btn-black {
  margin-right: 25px;
}

.initial__btn {
  margin-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.initial__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.initial__social-network a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #101A24;
  padding: 7px;
}

.initial__social-network a:not(:last-child) {
  margin-right: 15px;
}

.curcle-dekor {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
}

.main__img-1,
.main__img-2,
.main__img-3 {
  position: absolute;
  opacity: 0.25;
}

.main__img-1 {
  max-width: 450px;
  max-height: 190px;
  z-index: 2;
  width: 450px;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main__img-2 {
  top: 0;
  right: 0;
  -webkit-transform: translate(40%, -50%);
      -ms-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
  max-width: 315px;
  max-height: 300px;
  width: 280px;
}

.main__img-3 {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(35%, -50%);
      -ms-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
  max-width: 250px;
  max-height: 340px;
  width: 280px;
}

@media (max-width: 1510px) {
  .content {
    padding-left: calc(12px + 138 * ((100vw - 320px) / 1510));
  }

  .content {
    padding-right: calc(12px + 138 * ((100vw - 320px) / 1510));
  }

  h1 {
    font-size: calc(26px + 44 * ((100vw - 320px) / 1510));
  }

  h2 {
    font-size: calc(22px + 38 * ((100vw - 320px) / 1510));
  }

  .btn-orange,
  .btn-black {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1510));
  }

  .btn-orange,
  .btn-black {
    padding-top: calc(10px + 3 * ((100vw - 320px) / 1510));
  }

  .btn-orange,
  .btn-black {
    padding-bottom: calc(12px + 4 * ((100vw - 320px) / 1510));
  }

  .btn-orange {
    padding-left: calc(20px + 12 * ((100vw - 320px) / 1510));
  }

  .btn-orange {
    padding-right: calc(20px + 12 * ((100vw - 320px) / 1510));
  }

  .btn-black {
    padding-left: calc(22px + 14 * ((100vw - 320px) / 1510));
  }

  .btn-black {
    padding-right: calc(22px + 14 * ((100vw - 320px) / 1510));
  }

  .burger__frying-pan {
    width: calc(270px + 330 * ((100vw - 320px) / 1510));
  }

  .header__logo img {
    width: calc(120px + 70 * ((100vw - 320px) / 1510));
  }

  .header {
    padding-top: calc(10px + 35 * ((100vw - 320px) / 1510));
  }

  .header li:not(:last-child) {
    margin-right: calc(7px + 38 * ((100vw - 320px) / 1510));
  }

  .header li a {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1510));
  }

  .initial {
    padding-top: calc(120px + 200 * ((100vw - 320px) / 1510));
  }

  .initial {
    padding-bottom: calc(60px + 100 * ((100vw - 320px) / 1510));
  }

  .curcle {
    width: calc(300px + 660 * ((100vw - 320px) / 1510));
  }

  .curcle {
    height: calc(300px + 660 * ((100vw - 320px) / 1510));
  }

  .less-img {
    width: calc(60px + 305 * ((100vw - 320px) / 1510));
  }

  .less-img {
    height: calc(60px + 305 * ((100vw - 320px) / 1510));
  }

  .initial__text h1 {
    margin-bottom: calc(40px + 30 * ((100vw - 320px) / 1510));
  }

  .initial__text p {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1510));
  }

  .initial__text p {
    padding-bottom: calc(20px + 25 * ((100vw - 320px) / 1510));
  }

  .initial__btn {
    margin-bottom: calc(50px + 45 * ((100vw - 320px) / 1510));
  }

  .curcle-dekor {
    width: calc(60px + 40 * ((100vw - 320px) / 1510));
  }

  .curcle-dekor {
    height: calc(60px + 40 * ((100vw - 320px) / 1510));
  }

  .main__img-1 {
    width: calc(200px + 250 * ((100vw - 320px) / 1510));
  }

  .main__img-2 {
    width: calc(160px + 120 * ((100vw - 320px) / 1510));
  }

  .main__img-3 {
    width: calc(160px + 120 * ((100vw - 320px) / 1510));
  }
}

@media (max-width: 992px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .initial__img {
    padding-left: 150px;
    padding-right: 150px;
  }

  .initial__wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .initial__text {
    padding-top: 80px;
    padding-left: 0;
  }

  .initial__text h1 {
    text-align: center;
  }

  .initial__text p {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .initial__text-bottom {
    padding-right: 0;
  }

  .initial__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .initial__social-network {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .curcle-dekor {
    display: none;
  }

  .main__img-3 {
    -webkit-transform: translate(65%, -10%);
        -ms-transform: translate(65%, -10%);
            transform: translate(65%, -10%);
  }
}

@media (max-width: 992px) and (max-width: 1510px) {
  .initial__img {
    padding-left: calc(30px + 120 * ((100vw - 320px) / 1510));
  }

  .initial__img {
    padding-right: calc(30px + 120 * ((100vw - 320px) / 1510));
  }
}

@media (max-width: 767px) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__burger {
    display: block;
    width: 28px;
    height: 28px;
    position: relative;
  }

  .header__burger:after {
    content: "";
    display: block;
    background-color: #EA6D27;
    border-radius: 50px;
    width: 28px;
    height: 2px;
    position: absolute;
    top: 6px;
    left: 3px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger:before {
    content: "";
    display: block;
    background-color: #EA6D27;
    border-radius: 50px;
    width: 28px;
    height: 2px;
    position: absolute;
    top: 13px;
    left: 3px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger span:after {
    content: "";
    display: block;
    background-color: #EA6D27;
    border-radius: 50px;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 20px;
    left: 3px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger_close:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger_close:before {
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger_close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 3px;
    width: 28px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger {
    display: block;
  }

  .header__list {
    display: none;
  }

  .header__burger-body ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 30px;
  }

  .less-img {
    display: none;
  }

  .main__img-1 {
    -webkit-transform: translate(-20%, -70%) rotate(9deg);
        -ms-transform: translate(-20%, -70%) rotate(9deg);
            transform: translate(-20%, -70%) rotate(9deg);
  }
}

@media (max-width: 767px) and (max-width: 1510px) {
  .header__burger-body ul {
    font-size: calc(24px + 6 * ((100vw - 320px) / 1510));
  }
}

@media (max-width: 600px) {
  .header__logo img {
    margin-bottom: 5px;
  }

  .header__btn {
    display: none;
  }

  .initial__social-network a {
    width: 36px;
    height: 36px;
  }
}

@media (any-hover: hover) {
  .btn-orange:hover {
    background: #d6692a;
  }

  .btn-black:hover {
    background: #1c2e42;
  }

  .header li:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: rgba(16, 26, 36, 0.7254901961);
  }
}